body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #2ecc71;
    padding: 15px;
    color: white;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    padding: 70px;
    text-align: center;
    background: url('shopping.jpg') no-repeat center/cover;
    color: white;
}

.btn {
    padding: 10px 20px;
    background: #27ae60;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.box {
    width: 30%;
    background: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
}

.heading {
    text-align: center;
    margin-top: 20px;
}

.product-grid {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    flex-wrap: wrap;
}

.product {
    width: 220px;
    background: #f1f1f1;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

.product img {
    width: 100%;
    border-radius: 10px;
}

.form {
    width: 60%;
    margin: 30px auto;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

footer {
    background: #27ae60;
    padding: 10px;
    color: white;
    text-align: center;
    margin-top: 20px;
}